<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Reconhecimento de Linguagens de Programação</title>

	<style type="text/css">
		.genie {
			width: 300px;
		}

		textarea {
			min-height: 250px;
		}
	</style>
</head>

<body>
	<div class="container">


		{% if result %}
		<div class="card mt-2">
			<div class="card-header bg-success">
				<h3 class="card-title">Resultado</h3>
			</div>

			<div class="card-body bg-light">
				<img src="https://media1.tenor.com/images/d122a2679f36d7ac82b82c14df9c1740/tenor.gif?itemid=5581463" class="float-right genie">

				<div class="card-text">
					<p>Nosso gênio diz que seu código pertence a linguagem <strong>{{result}}</strong>!</p>
				</div>

			</div>
		</div>
		{% endif %}

		<div class="card mt-3">
			<div class="card-header bg-dark text-white">
				<h2 class="card-title">Teste um código!</h2>
			</div>
			<div class="card-body bg-light">

				<div class="card-text">
					<p>Digite abaixo o código que deseja testar e nosso gênio irá classificá-lo de acordo com uma das seguintes linguagens conhecidas:</p>

					<div class="row mb-3">
					  	<div class="col-4">
						    <div class="list-group" id="list-tab" role="tablist">
								<a class="list-group-item list-group-item-action active" id="list-java-list" data-toggle="list" href="#list-java" role="tab" aria-controls="java">Java</a>
								<a class="list-group-item list-group-item-action" id="list-python-list" data-toggle="list" href="#list-python" role="tab" aria-controls="python">Python</a>
								<a class="list-group-item list-group-item-action" id="list-sql-list" data-toggle="list" href="#list-sql" role="tab" aria-controls="sql">SQL</a>
								<a class="list-group-item list-group-item-action" id="list-html-list" data-toggle="list" href="#list-html" role="tab" aria-controls="html">HTML</a>
						    </div>
					</div>
						<div class="col-8">
						    <div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="list-java" role="tabpanel" aria-labelledby="list-java-list">
							      	<pre>
							      		<code class="code">
public class Teste(){
	public static void main(String[] args){
		System.out.println("Hello world!");
	}
}
							      	</code>
							      	</pre>
								</div>
								<div class="tab-pane fade" id="list-python" role="tabpanel" aria-labelledby="list-python-list">
							      	<pre>
							      		<code>
if __name__ == __main__:
	print("Hello world!")
							      		</code>
							      	</pre>
								</div>
			      				<div class="tab-pane fade" id="list-sql" role="tabpanel" aria-labelledby="list-sql-list">
			      					<pre>
			      						<code>
SELECT column1, column2
FROM table_name
WHERE column1 = 'Hello World!';
			      						</code>
			      					</pre>
			      				</div>
			      				<div class="tab-pane fade" id="list-html" role="tabpanel" aria-labelledby="list-html-list">
			      					<pre>
			      						<code>
&lt;!DOCTYPE html>
&lt;html>
	&lt;head>
		&lt;title>Hello world!&lt;/title>
	&lt;/head>
	&lt;body>
		&lt;p>Hello wold!&lt;/p>
	&lt;/body>
&lt;/html>
			      						</code>
			      					</pre>
			      				</div>
	    					</div>
		  				</div>
					</div>
				</div>

				<form class="form" method="POST">
					<div class="form-group">
						<textarea notab="notab" class="form-control" placeholder="Digite seu código aqui!" name="predict" id="predict">{% if result %}{{content}}{% endif %}</textarea>
					</div>
					<button type="submit" class="btn btn-outline-primary">Classificar!</button>
				</form>
			</div>
		</div>
		
	</div>

 	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
    	$('textarea[notab=notab]').on('keydown', function(e){ 
    		if (e.keyCode == 9) {
    			e.preventDefault();
    			e.target.value += "    ";
    		}
    	});
    </script>
  </body>
</html>